@import "./utils/variables";

.image-container {
  position: relative;
  &__control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    width: 163px;
    height: $header-control-panel-height;
    background-color: #fcc304;
    border-radius: 50px;
    top: calc(50% - #{$header-control-panel-height / 2});
  }
  &__arrow-wrapper {
    width: 24px;
    height: 50%;
    cursor: pointer;
  }
  &__arrow-wrapper--left {
    background: url("../images/arrows/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__arrow-wrapper--right {
    background: url("../images/arrows/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__description {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 264px;
  }
  &__text {
    margin-top: 10px;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    color: #fff;
  }
  &__intro {
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
  }
}
