@import "header";
@import "nav";
@import "container";
@import "button";
@import "image-container";
@import "intro";
@import "activity";
@import "we-do";
@import "process";
@import "stages";
@import "features";
@import "testimonials";
@import "vision";
@import "contact";
@import "footer-navbar.scss";

html {
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
