.we-do {
  background-color: #fff;
  &__title {
    position: relative;
    bottom: 24px;
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
  }
}
